<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <header>
        <h1>Update Book</h1>
    </header>
</br>
    <nav>
        <h4>
            <a href="/">Insert Books</a>
            <a href="/getbooks">List Books</a>
            <a href="/updatebook">Update Book</a>
            <a href="/deletebook">Delete Book</a>
            <a href="/addauthor">Insert Author</a>
            <a href="/getauthors">List Authors</a>
            <a href="/updateauthor">Update Author</a>
            <a href="/deleteauthor">Delete Author</a>
        </h4>
    </nav>
</br>
    <main>
        <form action="/updatebookdata" method="POST">
            Book Old ISBN <input type="text"  name="oldISBN" /> </br>
            Book New Title <input type="text"  name="newTitle" /> </br>
            Book New Author <input type="text"  name="newAuthor" /> </br>
            Book New Date of Publication <input type="date" name="newRelDate" /> </br>
            Book New Summary <input type="text" name="newSummary" /> </br>
            </br>
            <input type="submit" value="Submit" /> </br>
        </form>
    </main>
</body>
</html>